h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.c {
    width: 100px;
    height: 100px;
    background-color: rgb(22, 174, 123);
    animation-name: pp;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-iteration-count: 3;
}

@keyframes pp {
    from {
        
    }
    to {
        width: 400px;
        background-color: orchid;
    }
}

.a {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin: 100px auto;
    cursor: pointer;
    /* overflow: hidden; */
}

.b {
    position: relative;
    top: 0;
    background: bisque;
}

.b .p-1, .b .p-2, .b .p-3 {
    padding: 10px;
    text-align: center;
    background: orangered;
}

.b .p-3 {
    position: absolute;
    left: -88px;
    top: 37px;
}

/* при навидении на а изменить b */
.a:hover > .b {
    animation-name: ttt;
    animation-duration: 2s;
    /* чтобы анимация остановилась в конце */
    animation-fill-mode: forwards;
}

@keyframes ttt {
    0% {

    }
    50% {
        top: -38px;
        left: 0;
    }
    100% {
        /* transform: rotate(360deg); */
        transform: rotate3d(1, 1, 1, 45deg);
        left: 90px;
        top: -38px;
        
    }
}

