h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.block {
  border: 1px solid rgb(0, 0, 0);
  height: 30px;
  width: 30px;
  margin: 1px;
  display: inline-block;
  background: rgba(170, 42, 42, 0.461);
  border-radius: 50%;
}

.blockIndent {
  height: 30px;
  width: 30px;
  margin: 1px;
  display: inline-block;
  background: #ffffff;
}

#btn {
  margin-top: 20px;
  margin-left: 20px;
}
